<ion-view view-title="DESENVOLVEDOR">
  <ion-content>

	<div class="list card">
	  		
		<div class="item item-body">

	    <img class="full-image" src="img/tay.jpg">

	    <h2>TAYNÁ ALVES RODRIGUES</h2>
	    <p>taynaalro@gmail.com</p>
	    <h3 class="sobre">
	      Estudante do mundo e apaixonada por design, amo esportes e culinária. Gosto de
			saber um pouco de cada coisa, da arte até a astronomia. Topo aprender tudo o que me
				trás curiosidade. Quero ajudar a transformar o mundo em um lugar melhor.
	    </h3>
	    
	  	</div>
	</div>

  
  		
  	
  </ion-content>
</ion-view>
